body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%
}
nav {
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption {
  font-size :18px;
  text-align: center;
}
